.todo-list-card {
    background: #ffffff;
    border-radius: 20px;
    width: 100%;
    padding: 17px 16px 31px 23px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__item {
        display: flex;
        justify-content: space-between;

        & button {
            background: none;
            border: none;
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            letter-spacing: -0.02em;
            text-decoration-line: underline;
            color: #5e5e5e;
        }
    }
}
